@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-container {
    display: flex;
    margin-bottom: 35px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 59%;
}

button {
    width: 90px;
    height: 32px;
    border-radius: 8px;
    border-style: solid;
    color: white;
}

.node {
    display: flex;
    align-items: center;
}

.circle {
    position: relative;
    border: 3px solid hsl(0, 1%, 90%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: border-color 0.5s;
}

.line {
    border: 2px solid hsl(0, 1%, 90%);
    width: 75px;
    height: 0;
    transition: border-color 0.5s;
}

.selected .circle {
    border-color: #3498db;
}

.selected .line {
    border-color: #3498db;
}

.circle > h6 {
    position: absolute;
    font-size: 15px;
    left: 7.5px;
    bottom: -33px;
    color: hsl(0, 1%, 69%);
    font-weight: 100;
}

.disabled {
    border-color: hsl(0, 1%, 90%);
    background-color: hsl(0, 1%, 90%);
}

.activated {
    border-color: #3498db;
    background-color: #3498db;
    cursor: pointer;
}
