@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.container > .upper-side {
  background-color: ghostwhite;
  width: 100%;
  height: 50%;
}

.container > .down-side {
  background-color: cornflowerblue;
  width: 100%;
  height: 50%;
}

.container > .nav-container {
  display: flex;
  position: absolute;
  background-color: white;
  justify-content: end;
  border-radius: 3px;
  align-items: center;
  box-shadow: 0 0 15px -10px;
  gap: 30px;
  transition: width ease-in-out 1s;
}

.container > .nav-container > .links-container {
  position: absolute;
  left: 30px;
  transition: opacity ease-in-out 1s;
}

.container > .nav-container > .links-container > .links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.container > .nav-container > .links-container > .links > a {
  text-decoration: none;
  color: black;
}

.container > .nav-container > .icon {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.container > .nav-container > .icon > .line-a {
  border-bottom: steelblue 2px solid;
  position: absolute;
  width: 100%;
  transition: all ease-in-out 1s;
}

.container > .nav-container > .icon > .line-b {
  border-bottom: steelblue 2px solid;
  position: absolute;
  width: 100%;
  transition: all ease-in-out 1s;
}

.nav-close {
  width: 375px;
  padding: 25px 30px;
}

.nav-open {
  width: 75px;
  padding: 25px 28px;
}

.close {
  top: 50%;
}

.close-a {
  transform: translateY(-50%) rotate(-45deg);
}

.close-b {
  transform: translateY(-50%) rotate(45deg);
}

.open-a {
  top: 25%;
}

.open-b {
  bottom: 25%;
}

.links-close {
  opacity: 1;
}

.links-open {
  opacity: 0;
}
