@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #efedd6;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: steelblue;
    border-radius: 10px;
    font-size: 29px;
    color: white;
    margin-bottom: 20px;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}
