@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 3em;
  position: relative;
  background-position: center center;
  background-size: cover;
  transition: 0.4s;
}

.bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.arrow-container {
  width: 4em;
  height: 5em;
  border: 2px solid sandybrown;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 0.7em;
  right: 0.5em;
  color: white;
}

#left-arrow {
  border-right: none;
}

#right-arrow {
  border-left: none;
}

.carousel-img {
  width: 78%;
  height: 78%;
  z-index: 1;
  transition: 0.4s ease;
  background-position: center center;
  background-size: cover;
}
